body {
  font-family: "Montserrat";
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black";
}

p {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header/logo Title */

.header {
  padding: 10px;
  text-align: center;
  background: #20B2AA;
  color: white;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: auto;
  line-height: 1.5;
}

.section-heading {
font-size: 3rem;
line-height: 1.5;
}

/* Conainers */
.container-fluid {
}

/* Sections */

.colored-section {
  background-color: #00BFFF;
  color: #2F4F4F;

}

.white-section {
background-color: #fff;

}

/* Navigation Bar */
.navbar {
  padding-bottom: 0 0 0 6rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-style: italic;

}

.navbar-item {
  padding: auto;
}

.navbar-link {
  font-size: 6rem;
  font-family: "Montserrat-Light";
}

/* Bouttons */
.github-button {
  margin: 5% 3% 5% 0;
}

/* Title Section*/
#title {
  text-align: left;
  padding: inherit;
  margin: auto;
}

#title .container-fluid {
  padding: 7% 15% 7%;
}


/* Titlle Image */
.img-fluid {
  position: relative;
  align: right;
  width: auto;
  height: auto;
}

#features {
  position: relative;
  z-index: 1;
  padding: 7% 10% 7%;
}

.feature-title {
  font-size: 2rem
}

.features-box {
  padding: 5%;
}

/* Testimonials Sections */

#testimonials {
  font-size: 130%;
  padding: auto;
  margin: auto;
  text-align: center;
}

.figure-img {
  width: 100%;
}

/* Press Section */

#press {
  background-color: #fff;
  padding: auto;
}

.press-logo {
  width: 50%;
  margin: 20px;
  align-self: auto;
}

.cta-image {
  width: 20%;
  padding-top: auto;
}

/* footer */
.social-icon {
  margin: 10px;
padding: 10px 20px;
}

@media (max-width: 700px) {
  .row, .navbar {
    flex-direction: column;
  }
